* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  position: relative;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    &:after {
      width: 100%;
    }
  }

  &:after {
    transition: width 0.3s ease;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #000;
  }
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}

.description {
  font-size: 24px;
  color: #000;
  text-align: center;
  max-width: 50%;
}

.container-footer {
  width: 80%;
  margin: 0 auto;
}

.footer {
  position: fixed;
  font-size: 20px;
  padding: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .description {
    font-size: 18px;
    max-width: 70%;
  }

  .container-footer {
    width: 100% !important;
    padding: 20px;
  }

  .footer {
    font-size: 16px;
    flex-direction: column;
  }
}